{% extends 'IgaUniverseBundle:Public:layout.html.twig' %}
{% block content %}
      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <h1>Let's do your first step with "Univers"</h1>
		</div>
{% endblock %}